@font-face {
  font-family: 'LexiaBold';
  src: url('../asset/fonts/Lexia-W01-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'LexiaSemiBold';
  src: url('../asset/fonts/Lexia-W01-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'LexiaXBold';
  src: url('../asset/fonts/Lexia-W01-XBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LexiaRegular';
  src: url('../asset/fonts/Lexia-W01-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CALIST';
  src: url('../asset/fonts/CALIST.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

